<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="registroForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre" placeholder="Nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input formControlName="correo" placeholder="Ejemplo@gmail.com"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="contraseña" placeholder="****" type="password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button (click)="registrarPersona()" expand="full" color="primary">Registrar</ion-button>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/modulo1"></ion-back-button>
      <ion-button [routerLink]="'/modulo1'">
        <ion-icon name="arrow-back"> </ion-icon>
        <ion-text>Volver</ion-text>
      </ion-button>
    </ion-buttons>
    <ion-footer>
      <ion-toolbar>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <span style="font-size: 12px; font-style: italic;">Developed by DrCV &reg;</span>
          <span style="font-size: 10px; font-weight: bold;">© 2023</span>
        </div>
      </ion-toolbar>
    </ion-footer>
  </ion-toolbar>
</ion-footer>
